<h1>Confirmation de votre réservation</h1>
<p>{{ reservation.name }}</p>
<p>{{ reservation.email}}</p>
<p>{{ reservation.phone}}</p>
<p>Catégorie : {{ reservation.category}}</p>
<p>nombre de billets adultes: {{ reservation.nbadult}}</p>
<p>nombre de billets enfants: {{ reservation.nbadult}}</p>
<p>{{ reservation.representation.id}}</p>
